.square{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    margin:auto;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    border-radius: 50px;
    margin:auto;
}
.border{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 1px 20px;
    margin: auto;
}
